body {
  background-color: burlywood;

  line-height: 1.5;
}

h1 {
  text-align: center;
  margin: 2rem auto;
  text-decoration: wavy;
}

a {
  text-decoration: none;
  padding: 0.3rem;
  border: 1px solid black;
  background-color: rgb(218, 227, 228);
  .left,
  .right {
    display: block;
    background-color: bisque;
  }
}
.view-user {
  text-align: center;
}
.info {
  margin: 0 12px;
  text-align-last: initial;
}
.edit {
  background-color: blueviolet;
}
.delete {
  background-color: red;
  margin: 0 12px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  padding: 1rem;
  margin: 2rem auto;
  text-align: center;
  border: 1px solid black;
  width: 350px;

  input {
    padding: 0.3rem;
    margin: 0.5rem;
    outline: none;
    width: 80%;
  }
}
